<div class="col-md-6 user-container">
  <h2 class="text-center">Add User Details</h2>
  <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
    </div>
    <div class="form-group">
      <label for="userName">User Name:</label>
      <input type="text" formControlName="userName" placeholder="userName" name="userName" class="form-control" id="userName" readonly="true">
    </div>

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" formControlName="age" placeholder="age" name="age" class="form-control" id="age">
    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <input type="number" formControlName="address" placeholder="address" name="address" class="form-control" id="address">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
