  <mat-sidenav-container fxFlex  >
    <mat-sidenav  #sideNavItemDetails mode="side">
      <mat-list *ngFor="let categ of productCategories" class="clientSideMenuItemsBG">
        <a mat-list-item (click)='getItemDetails(categ.productCategoryNm)' class="gridHeaderFooter">{{categ.productCategoryNm}}</a>
        <mat-divider><hr></mat-divider>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content >
        <button mat-raised-button (click)="sideNavItemDetails.toggle()"  color="accent">CATEGORIES</button>
      <mat-grid-list cols="6" role="list">
          <mat-grid-tile *ngFor="let item of itemDetails" role="listitem">

            <figure >
              <div class="snipcart-item block">
              <div class="snipcart-thumb">
              <img src="../../../assets/images/{{item.productItemNm}}.png" alt="model {{item.productItemNm}}" class="img-responsive">
              <mat-grid-tile-footer class="clientGridFooterBG">
                  <h3 mat-line>{{item.productItemNm}}({{item.productItemWeight | number}} gm)</h3>
                  <h3 *ngIf="item.productItemDscnt; else noDiscount">{{item.productItemDscnt | currency}}<span>{{item.productItemUnitPrice | currency}}</span></h3>
                    <ng-template #noDiscount>
                      <h3>{{item.productItemUnitPrice | currency}}</h3>
                    </ng-template>
                  <div class="snipcart-details">
                  <span mat-line>{{item.productItemDesc}}</span>
                  <button mat-icon-button (click) ="addToCart(item.id)">
                      <mat-icon>add_shopping_cart</mat-icon>
                  </button>
                </div>
              </mat-grid-tile-footer>
              </div>
            </div>
            </figure>
          </mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
