.sidenav-container {
  height: 90%;
  position: fixed;
  top: 9%;
  left: 0%;
  right: 0%;
  background: #3f51b550;
  }
  .sidenav {
  width: 300px;
  background: #3f86b5;
  }
  .sidenav .mat-toolbar {
  background: #3f51b5;
  }
  .mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  }

  .example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }
  a{
    cursor: pointer;
  }

