<div class="Jumbotron">
  <mat-drawer-container class="sidenav-container">
    <mat-drawer #sideNav mode="side" opened="true" class="sidenav">
      <mat-divider><hr></mat-divider>
      <a mat-list-item (click)="navigate('upload-file','items')">Upload Items File</a>
      <mat-divider><hr></mat-divider>
      <a mat-list-item (click)="navigate('upload-file','subscriptions')">Upload Subscription File</a>
      <mat-divider><hr></mat-divider>
      <a mat-list-item (click)="navigate('item-link-deals','cupons')">Link Deals To Items</a>
      <mat-divider><hr></mat-divider>
    </mat-drawer>
    <mat-drawer-content>
      <div >
        <router-outlet name="sidemenu"></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
