<div  class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper slideItems" >
      <div class="hidden" >{{hotDealsItems.length}}</div>
        <div class="swiper-slide" *ngFor="let item of hotDealsItems" >
          <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill >
              <img src="{{imgUrl}}{{item.imageName}}.png" alt="{{item.productItemNm}}" class="img-responsive">
              <div class="snipcart-details">
                  <h6 mat-line>{{item.productItemNm | titlecase}}({{item.productItemWeight | number}} gm)</h6>
                  <h6 mat-line *ngIf="item.productItemDscnt; else noDiscount">{{item.productItemDscnt | currency}}
                    <span>
                      {{item.productItemUnitPrice | currency}}
                    </span>
                  </h6>
                  <ng-template #noDiscount>
                    <h6 mat-line>{{item.productItemUnitPrice | currency}}</h6>
                  </ng-template>

                  <span mat-line>{{item.productItemDesc | titlecase}}</span>
                  <!--<button mat-icon-button (click) ="addToCart(item.id)">
                      <mat-icon>add_shopping_cart</mat-icon>
                  </button>-->
                </div>
              </div>
            </div>
      </div>

      <div class="swiper-button-prev " *ngIf="itemsAvailable"></div>
      <div class="swiper-button-next " *ngIf="itemsAvailable"></div>
      <div class="swiper-pagination"></div>
    </div>
