
<div class="col-sm-5 ">
  <h4 mat-dialog-title>Subscribe to get the latest updates</h4>
    <form>
      <mat-icon color="warn" style="vertical-align: middle;">email</mat-icon>
      <mat-form-field class="newsletter-form-field">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="emailAddress" >
        <mat-error *ngIf="emailAddress.hasError('email') ">
          Please enter a valid email address
        </mat-error>

      </mat-form-field>
      <mat-icon color="warn" style="vertical-align: middle;">sms</mat-icon>
      <mat-form-field class="newsletter-form-field">
          <mat-label>Text</mat-label>
          <input matInput [formControl]="phoneNo" >
          <mat-error *ngIf="phoneNo.hasError('minlength') ">
            Phone number must be at least 10 digits
          </mat-error>
          <mat-error *ngIf="phoneNo.hasError('maxlength') ">
              Phone number must not excees 10 digits
            </mat-error>
        </mat-form-field>
      <button (click)="subscribe()"  type="submit" class="btn btn-info">Subscribe</button>
    </form>
</div>

<div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
    <div class="w3_footer_grid_bottom">
      <h5>Follow us</h5>
      <ul class="agileits_social_icons">
        <li ><a href="https://www.facebook.com/Swagathfoods/" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li style="margin-left: 2%;"><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="w3_footer_grid_bottom">
      <h5>Contact us</h5>
      <ul class="phone_email" style="list-style-type:none;">
        <li><i class="fa fa-phone" aria-hidden="true"></i>(517) 381-3400</li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i>store@swagath.com</li>
        <li><i class="fa fa-home" aria-hidden="true"></i> 1723 W Grand River Ave, Okemos, MI 48864</li>
      </ul>
    </div>
