<section class="flex-container" fxLayout="column" fxLayoutAlign="center"
fxLayoutGap.xs="0" fxFlex="100%" >
<div class="example-header" fxLayout="row">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
</div>
    <!-- this flex item takes the rest of the screen in height -->
<div>
          <mat-table [dataSource]="dataSourceItems"
          matSort matSortActive="dealTypCd" matSortDirection="asc" matSortDisableClear >
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Deal Id</mat-header-cell>

                <mat-cell *matCellDef="let deal">
                    <a  (click)="getItemDetails()" >{{deal.id}}</a>
                    </mat-cell>

            </ng-container>
            <ng-container matColumnDef="dealTypCd">
              <mat-header-cell *matHeaderCellDef>Deal Code</mat-header-cell>
              <mat-cell *matCellDef="let deal">{{deal.dealTypCd}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="dealTypDesc">
              <mat-header-cell *matHeaderCellDef>Deal Description</mat-header-cell>
              <mat-cell *matCellDef="let deal">{{deal.dealTypDesc}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsItems"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsItems"></mat-row>
          </mat-table>
          <mat-paginator #paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]">
            </mat-paginator>
        </div>
        </section>

