@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('../../../assets/css/bootstrap.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/prism/^1.12.2/themes/prism.css');
.bkcgrnd {
  background-color: rgb(60, 105, 141);
  vertical-align: middle;
  align-items: center;
}

.subscription-bkcgrnd {
  background-color: rgb(60, 105, 141);
  vertical-align: middle;
  align-items: center;
  width: 100%;
}

.details-bkcgrnd {
  height: 540px;
  width: 100%;
  overflow: auto;
  background-color: rgb(60, 105, 141);
}
