<!--The content below is only a placeholder and can be replaced.-->
<div class=" bkcgrnd clientHotDealsBG " >
    <app-hot-deals></app-hot-deals>
</div>
<mat-divider></mat-divider>
<div class=" bkcgrnd clientAdBannerBG " >
    <app-ad-banner></app-ad-banner>
</div>
<div class=" details-bkcgrnd clientItemDetailsBG">
    <router-outlet name="homeDetails"></router-outlet>
  </div>
<div class="container-fluid subscription-bkcgrnd clientFooterBG">
  <app-email-subscription></app-email-subscription>
</div>

