<mat-toolbar class="toolbarbg">
  <div>
     <a (click)="home('home')">Indian Grocery Store</a>
  </div>
  <div class="col-5 text-center" >
      <input type="text"  class="form-control"
                placeholder="Search any item name" />
   </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout style="list-style-type:none;">
        <li>
            <span class="label">
              <button mat-button ><mat-icon > shopping_cart</mat-icon>View Your Cart</button>
            </span>
          </li>
          <li>
              <span class="label">
                <button mat-button (click)="home('home')"><mat-icon>home</mat-icon>Home</button>
              </span>
            </li>
                <li *ngIf='currentUser' >
                    <span class="label">
                      <button mat-button (click)="adminScreen()"><mat-icon > person_pin</mat-icon>Admin</button>
                    </span>
                  </li>
      <li>
        <span class="label">
          <button mat-button (click)="logout()" *ngIf='currentUser ; else loginButton '>Logout</button>
          <ng-template #loginButton >
            <button mat-button  (click)="loginScreen()" >Login</button>

          </ng-template>
        </span>
      </li>

    </ul>
  </div>
</mat-toolbar>
<!-- main app container -->
<main>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
</main>
