<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><img src="./assets/logo.png"></span>
      <span class="app-toolbar-filler"></span>
      <span class="align-center"></span>
      <span class="app-toolbar-filler"></span>

      <button mat-button>About</button>
      <button mat-button>Contact</button>
      <button mat-button (click)="logout()" *ngIf='currentUser'>Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>
<!-- main app container -->
<main>

        <div class="app-content">
                <alert></alert>
                <router-outlet></router-outlet>
    </div>
</main>
