<div  class="swiper-container" [swiper]="config">

    <div class="swiper-wrapper">
      <div class="swiper-slide">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
              <img src="../../../assets/images/1.png" alt="First slide" class="img-fluid">
              <div class="carousel-caption" style="text-align: end;">
                Dal(4 gm) $10.00 <mat-icon>add_shopping_cart</mat-icon>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                <img src="../../../assets/images/2.png" alt="Second slide" class="img-fluid">
                <div class="carousel-caption">
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                  <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                      <img src="../../../assets/images/3.png" alt="Third slide" class="img-fluid">
                      <div class="carousel-caption">
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                            <img src="../../../assets/images/5.png" alt="Fourth slide" class="img-fluid">
                            <div class="carousel-caption">
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                              <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                                  <img src="../../../assets/images/6.png" alt="Fourth slide" class="img-fluid">
                                  <div class="carousel-caption">
                                    </div>
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                    <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                                        <img src="../../../assets/images/8.png" alt="Fourth slide" class="img-fluid">
                                        <div class="carousel-caption">
                                          </div>
                                        </div>
                                      </div>
    </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev "></div>
      <div class="swiper-button-next "></div>
    </div>
