ng-template {

  border: 1px solid #c3c3c3;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  align-self: center
}

h6 span{
  font-weight:300;
  text-decoration:line-through;
  padding-left:1em;
}
