mat-form-field {
  width: 100%;
  min-width: 300px;
  background-color: cadetblue;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
.login-main{
  margin-top: 30%;
  background-color: cadetblue;
}
mat-card{
  min-width: 40%;
  background-color: cadetblue;
}
