mat-form-field {
  width: 100%;
  min-width: 300px;
  background-color: cadetblue;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
.login-main{
  align-items: center;
  align-content: center;
  align-self: center;
  width: 40%;

}
mat-card{
  width: 100%;
  background-color: cadetblue;
}
