
<div class="w3_login">
    <h3>Login & Register</h3>
    <div class="w3_login_module">
      <div class="module form-module">
          <div >
            </div>
        <div class="form">
        <h2>Login to your account</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
          <input type="text" matInput placeholder="Username" formControlName="userName" required>
          <input type="password" matInput placeholder="Password" formControlName="password" required>
          <p *ngIf="error" class="error">
              {{ error }}
              </p>
          <input type="submit" value="Login" >
          <input type="button" (click)="register()" value="Register" class="pull-right">
        </form>
        </div>

</div>
</div>
</div>
