<div  class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper" >
        <div class="hidden" >{{adBanners.length}}</div>
      <div *ngFor="let banner of adBanners" class="swiper-slide" >
          <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill >
              <img src="{{imgUrl}}{{banner.imgNm}}" alt={{banner.imgNm}} class="img-fluid">
              <div class="carousel-caption carouselCaption">
                  <label> {{banner.imageText}}</label>
              </div>
              </div>
          </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
