<div class="container-fluid">
  <table class="table">
    <thead>
    <tr scope="col">
      <td>
          <label class="btn btn-outline-primary">
              <span>Select File</span>
          <input id="files" style="display: none;" name="uploadExcel"
          type="file" (change)="setFile($event)" >
        </label>
      </td>
      <td><button type="button" class="btn btn-info" (click)="uploadData()" >Upload</button></td>
    </tr>
    </thead>
    <tbody>
      <tr>
        <th  scope="col">
          File Name
        </th>

          <th  scope="col">
              File Upload Date
            </th>
            <th  scope="col">
                Actions
              </th>
      </tr>
      <tr *ngFor="let fileDtl of fileDetails">
        <td scope="row">
          <a (click)="getItemDetails(fileDtl.id)">{{fileDtl.fileNm}}</a>
        </td>

          <td scope="row">
              <label>{{fileDtl.uploadDt | date }}</label>
            </td>
            <td scope="row">
                <button mat-icon-button (click)="deleteFile(fileDtl.id)">
                    <mat-icon class="mat-18">delete</mat-icon>
               </button>
              </td>
      </tr>
    </tbody>
  </table>

</div>
