<div>
  <table>
    <thead>
    <tr>
      <td>
          <label> Upload File</label>
          <input id="files" style="display: inline-block;" name="uploadExcel"
          type="file" (change)="setFile($event)" >
      </td>
      <td><button type="button" class="btn btn-info" (click)="uploadData()" >Upload</button></td>
    </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          File Name
        </th>
        <th>
            File Upload By
          </th>
          <th>
              File Upload Date
            </th>
      </tr>
      <tr *ngFor="let fileDtl of fileDetails">
        <td>
          <a>{{fileDtl.fileNm}}</a>
        </td>
        <td>
            <a>{{fileDtl.uploadBy}}</a>
          </td>
          <td>
              <a>{{fileDtl.uploadDt | date}}</a>
            </td>

      </tr>
    </tbody>
  </table>

</div>
