
  <mat-sidenav-container fxFlex  >
    <mat-sidenav  #sideNavItemDetails mode="side" (blur)="sideNavItemDetails.toggle()">
      <mat-list *ngFor="let categ of productCategories" class="clientSideMenuItemsBG">
        <a mat-list-item (click)='getItemDetails(categ.productCategoryNm)' class="gridHeaderFooter">{{categ.productCategoryNm}}</a>
        <mat-divider><hr></mat-divider>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content >

        <button mat-raised-button (click)="sideNavItemDetails.toggle()"  color="accent">CATEGORIES</button>
        <div class="categories">
            <h3>
              {{selectedCat}}
            </h3>
          </div>
        <mat-grid-list [cols]='colsize' role="list">


          <mat-grid-tile *ngFor="let item of data" role="listitem"
          title="{{item.productItemNm | titlecase}}">
          <div class="hover14 column">
            <div class="agile_top_brand_left_grid1 w3l_agile_top_brand_left_grid">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">

                    <img id="{{item.id}}" src="{{imgUrl}}{{item.imageName[0]}}"
                    alt="{{item.productItemNm}}" class="img-responsive">

                        <p >{{item.productItemNm | titlecase}}({{item.productItemWeight | number}} gm)</p>
                        <h4  *ngIf="item.productItemDscnt; else noDiscount">
                        {{item.productItemDscnt | currency}}
                        <span>{{item.productItemUnitPrice | currency}}</span>
                        </h4>
                        <ng-template #noDiscount>
                            <h4 >{{item.productItemUnitPrice | currency}}</h4>
                        </ng-template>

                        <span >{{item.productItemDesc |titlecase}}</span>
                      <!--<button mat-icon-button (click) ="addToCart(item.id)">
                          <mat-icon>add_shopping_cart</mat-icon>
                      </button>-->
                  </div>
                </div>
              </figure>
            </div>
           </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-paginator [length]="itemDetails.length"
                [pageSize]="size"
                [pageIndex]="page"
                [pageSizeOptions]="pageSizeOptions"
                (page)="getData($event)">
        </mat-paginator>
    </mat-sidenav-content>
  </mat-sidenav-container>
