
  <mat-sidenav-container fxFlex  >
    <mat-sidenav  #sideNavItemDetails mode="side">
      <mat-list *ngFor="let categ of productCategories" class="clientSideMenuItemsBG">
        <a mat-list-item (click)='getItemDetails(categ.productCategoryNm)' class="gridHeaderFooter">{{categ.productCategoryNm}}</a>
        <mat-divider><hr></mat-divider>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content >

        <button mat-raised-button (click)="sideNavItemDetails.toggle()"  color="accent">CATEGORIES</button>
        <div class="categories">
            <h3>
              {{selectedCat}}
            </h3>
          </div>
        <mat-grid-list cols="6" role="list">
          <mat-grid-tile *ngFor="let item of itemDetails" role="listitem" title="{{item.productItemNm | titlecase}}">

            <figure >
              <div class="snipcart-item block">
              <div class="snipcart-thumb">
              <img src="{{imgUrl}}{{item.imageName}}" alt="{{item.productItemNm}}" class="img-fluid">
              <mat-grid-tile-footer class="clientGridFooterBG">
                  <div class="snipcart-details">
                  <h6 mat-line>{{item.productItemNm | titlecase}}({{item.productItemWeight | number}} gm)</h6>
                  <h6 mat-line *ngIf="item.productItemDscnt; else noDiscount">{{item.productItemDscnt | currency}}<span>{{item.productItemUnitPrice | currency}}</span></h6>
                    <ng-template #noDiscount>
                      <h6 mat-line>{{item.productItemUnitPrice | currency}}</h6>
                    </ng-template>

                  <span mat-line>{{item.productItemDesc |titlecase}}</span>
                  <!--<button mat-icon-button (click) ="addToCart(item.id)">
                      <mat-icon>add_shopping_cart</mat-icon>
                  </button>-->
                </div>
              </mat-grid-tile-footer>
              </div>
            </div>
            </figure>
          </mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
