<div fxFlex>
    <h2 class="text-center">
        Image Manager
      </h2>
<div class="form-group">
  <div class="example-header" fxLayout="row">
    <mat-form-field>
     <input matInput [(ngModel)]="searchText" placeholder="Search Image">
    </mat-form-field>
</div>
    <label for="username"> Image:</label>
    <img *ngIf='imgToUpload' src={{imgToUpload}} alt='Image to upload'>
    <label class="btn btn-outline-primary ">
      <input id="files"  name="uploadImage" type="file" (change)="onImageClick($event)" class="fileInput">
            <span>Browse</span>
    </label>
    <button type="button" class="btn btn-info" (click)="onUpload()">Upload</button>
</div>
<mat-grid-list cols="5" role="list">
    <mat-grid-tile *ngFor="let image of imagesNames | filter:searchText" role="listitem" title="{{image | titlecase}}">

        <img src="{{imgUrl}}{{image}}" alt="{{image}}" class="img-fluid">
        <mat-grid-tile-footer class="clientGridFooterBG">
            <div class="snipcart-details">
            <span mat-line>{{image |titlecase}}</span>
          </div>
        </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator [length]="imagesList.length"
  [pageSize]="size"
  [pageIndex]="page"
  [pageSizeOptions]="pageSizeOptions"
  (page)="getData($event)">
</mat-paginator>
</div>
