mat-table {
  overflow: auto;
  max-height: 250px;
  color: #f2f4f7;
  background-color: rgb(25, 208, 221);
}
mat-paginator {
  background-color: rgb(25, 208, 221);
}
mat-header-cell, mat-header-row, .mat-header-cell-def{
    background:#f2f4f7;
    min-height:15px;
    font-family:Verdana,sans-serif;
    font-weight:bold;
    font-size:13px;
    color: #1a084c;
    margin-bottom:5px;
     top: 0;
    position: sticky;
    z-index: 1;
}

mat-row{
    min-height:20px;
    font-family:Verdana,sans-serif;
    font-size:11px;
    color: #1a084c;
    }
mat-cell{
    height:20px;
    font-family:Verdana,sans-serif;
    font-size:11px;
    color: #1a084c;
}
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  border:1px solid #000;
  width:50%;
  background-color: #f2f4f7;
}
