@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  background-color: #e91e63;
  font-family: 'Roboto', sans-serif;
  margin:0px !important;
  }

.centeralign {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.addmargin {
  margin-top: 10px;
  margin-bottom: 10px;
}


