@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  background-color: #e91e63;
  font-family: 'Roboto', sans-serif;
  margin:0px !important;
  }

.centeralign {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.addmargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
.sidenav-container {
  height: 90%;
  position: fixed;
  top: 9%;
  left: 0%;
  right: 10%;
  }
  .sidenav {
  width: 200px;
  }
  .sidenav .mat-toolbar {
  background: #3f51b5;
  }
  .mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  }

  .example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }


