/* You can add global styles to this file, and also import other style files */
@import url('../src/assets/css/bootstrap.css');
@import url('../src/assets/css/font-awesome.css');
@import url('../src/assets/css/style.css');
@import url('../src/assets/css/creditly.css');
@import url('../src/assets/css/easy-responsive-tabs.css');
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~swiper/dist/css/swiper.min.css';

:root {

  --topColor: #3C698D;
  --bodyColor: #87BED8;
}

a{
  cursor: pointer;
}


.clientHeaderBG{
  background-color: var(--topColor);
  color:white;
}

.clientFooterBG{
  background-color:var(--topColor);
  color:white;
}

.clientAdBannerBG{
  background-color:white;
  color:white;
}

.clientHotDealsBG{
  background-color:var(--bodyColor);
  color:white;
}

.clientItemDetailsBG{
  background-color:var(--bodyColor);
  color:white;
}

.clientSubscriptionBG{
  background-color:var(--bodyColor);
  color:white;
}
.clientSideMenuItemsBG{
  background-color:var(--bodyColor);
  color:white;
}

.clientGridFooterBG{
  background-color:var(--bodyColor)!important;
  color:black !important;
}

.adminSideNavBG{
  background-color:var(--bodyColor) !important;
  color:white !important;
}

.adminMatTableBG{
  background-color:var(--bodyColor) !important;
  color:white !important;
}
