<section class="flex-container" fxLayout="column" fxLayoutAlign="center"
fxLayoutGap.xs="0" fxFlex="100%" >
<div class="example-header" fxLayout="row">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
</div>
    <!-- this flex item takes the rest of the screen in height -->
<div>
          <mat-table [dataSource]="dataSourceItems"
          matSort matSortActive="itemName" matSortDirection="asc" matSortDisableClear >
           <!-- Checkbox Column -->
        <ng-container matColumnDef="hotDeal">
          <mat-header-cell *matHeaderCellDef>Hot Deal
            <mat-checkbox (change)="$event ? masterToggle('hot') : null"
                          [checked]="hotSelection.hasValue() && isAllSelected('hot')"
                          [indeterminate]="hotSelection.hasValue() && !isAllSelected('hot')">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let item">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="onChange(item.id,'hot')"
                          [checked]="item.hotDeal">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dailyDeal">
            <mat-header-cell *matHeaderCellDef>Daily Deal
              <mat-checkbox (change)="$event ? masterToggle('daily') : null"
                            [checked]="dailySelection.hasValue() && isAllSelected('daily')"
                            [indeterminate]="dailySelection.hasValue() && !isAllSelected('daily')">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="onChange(item.id,'daily')"
                            [checked]="item.dailyDeal">
              </mat-checkbox>
            </mat-cell>
          </ng-container>
            <ng-container matColumnDef="itemId">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Item Id</mat-header-cell>
              <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="itemName">
              <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
              <mat-cell *matCellDef="let item">{{item.productItemNm}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="itemDescription">
              <mat-header-cell *matHeaderCellDef>Item Description</mat-header-cell>
              <mat-cell *matCellDef="let item">{{item.productItemDesc}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="itemWeight">
              <mat-header-cell *matHeaderCellDef>Item Weight</mat-header-cell>
              <mat-cell *matCellDef="let item">{{item.productItemWeight}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="itemQuantity">
              <mat-header-cell *matHeaderCellDef>Item Quantity</mat-header-cell>
              <mat-cell *matCellDef="let item">{{item.productItemQnty}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="itemPrice">
              <mat-header-cell *matHeaderCellDef>Item Price</mat-header-cell>
              <mat-cell *matCellDef="let item">{{item.productItemUnitPrice}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="deals">
                <mat-header-cell *matHeaderCellDef>Linked Deals</mat-header-cell>
                <mat-cell *matCellDef="let item">{{item.deals}}</mat-cell>
              </ng-container>
            <ng-container matColumnDef="Image">
                <mat-header-cell *matHeaderCellDef>Item Image</mat-header-cell>
                <mat-cell *matCellDef="let item"><img src="../../../assets/images/{{item.productItemNm}}.png" alt="{{item.itemName}}"></mat-cell>
              </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsItems"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsItems"></mat-row>
          </mat-table>
          <mat-paginator #paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]">
            </mat-paginator>
        </div>
      <div> <button mat-button (click)="saveChanges()" >Save Changes</button></div>
      </section>


