<ngb-carousel align="center">
    <ng-template ngbSlide>
      <img src="../../../assets/images/1.png" alt="Random first slide" class="img-fluid">
      <div class="carousel-caption">

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../assets/images/2.png" alt="Random second slide" class="img-fluid">
      <div class="carousel-caption">

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../assets/images/3.png" alt="Random third slide" class="img-fluid">
      <div class="carousel-caption">

      </div>
    </ng-template>
  </ngb-carousel>
