<section class="flex-container" fxLayout="column" fxLayoutAlign="center"
fxFlex="100%" >
<h2 class="text-center">
    Item Details
  </h2>
<div class="example-header" fxLayout="row">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>
    <!-- this flex item takes the rest of the screen in height -->
          <mat-table [dataSource]="dataSourceItems" matSort
           class="adminMatTableBG">
            <ng-container matColumnDef="itemId">
              <mat-header-cell *matHeaderCellDef >Item Id</mat-header-cell>
              <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="itemName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Item Name</mat-header-cell>
              <mat-cell *matCellDef="let item" data-label="itemName">{{item.productItemNm}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="itemDescription" >
              <mat-header-cell *matHeaderCellDef mat-sort-header>Item Description</mat-header-cell>
              <mat-cell *matCellDef="let item" data-label="itemDescription">{{item.productItemDesc}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="itemWeight" >
              <mat-header-cell *matHeaderCellDef mat-sort-header>Item Weight</mat-header-cell>
              <mat-cell *matCellDef="let item" data-label="itemWeight">{{item.productItemWeight}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="itemQuantity" >
              <mat-header-cell *matHeaderCellDef mat-sort-header>Item Quantity</mat-header-cell>
              <mat-cell *matCellDef="let item" data-label="itemQuantity">{{item.productItemQnty}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="itemPrice">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Item Price</mat-header-cell>
              <mat-cell *matCellDef="let item" data-label="itemPrice">{{item.productItemUnitPrice}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Image" >
                <mat-header-cell *matHeaderCellDef mat-sort-header>Item Image</mat-header-cell>
                    <mat-cell *matCellDef="let item" data-label="imageName">{{item.imageName}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="Edit" >
                <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
                <mat-cell *matCellDef="let item">
                  <button mat-button (click)="editItem(item)">Edit Item</button>
                </mat-cell>
              </ng-container>
            <ng-container matColumnDef="Delete" >
                <mat-header-cell *matHeaderCellDef >Delete</mat-header-cell>
                <mat-cell *matCellDef="let item">
                    <a (click)="deleteItem(item.id)" >
                        <i class="fa fa-trash-o"></i>
                    </a>
                </mat-cell>
              </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsItems"></mat-header-row>
          <mat-row *matRowDef="let item; columns: displayedColumnsItems"></mat-row>
          </mat-table>
          <mat-paginator #paginator
            [pageSize]="25"
            [pageSizeOptions]="[5, 10, 25,100]">
            </mat-paginator>
        </section>

